PAYTM_MERCHANT_ID=your_merchant_id
PAYTM_MERCHANT_KEY=your_merchant_key
PAYTM_WEBSITE=DEFAULT
PAYTM_INDUSTRY_TYPE=Retail
PAYTM_CHANNEL_ID_WEB=WEB
PAYTM_CHANNEL_ID_WAP=WAP
PAYTM_CALLBACK_URL=https://your-backend.onrender.com/api/payment/callback
PAYTM_TRANSACTION_URL=https://securegw.paytm.in/order/process
PAYTM_STATUS_URL=https://securegw.paytm.in/order/status
PORT=3000
